ol
{
	border: 3px solid darksalmon;
	border-radius: 5px;
}
ol li
{
	color: cyan;
}

/* Si hay varias listas ordenadas */
/* y solo queremos aplicar a los elementos que depengan de <div> */

.content li
{
	color: brown;
}

/*vamos a agregar*/
li:first-child
{
	color: brown;
}

li:first-child
{
	background: yellow;
	color: white;
}

li:nth-child(2)
{
	background: orange;
}
li:nth-child(3)
{
	background: cyan;
}