body
{
	font-size: 100%;
	/* Tamaño base */
	font-family: 'Caveat', cursive;
}
h1
{
	font-size: xx-large;
	/* xx relativo al tamaño base */
}
h2
{
	font-size: x-large;
}
.importante
{
	font-size: large;
	/* un poco más grande que el padre */
}
.unoPuntoDos
{
	font-size: 1.2em;
}