a:visited
{
	background: black;
	color: white;
}
a
{
	color: cornflowerblue;
	text-decoration: none; /* se elimina el subrrallado */
}
a:visited
{
	color: tomato
}
a:hover
{
	text-decoration: underline;
	background: black;
	color: white;
}